
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toast Notification</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("/Content/bootstrap.css")" media="screen,projection" />
</head>
<body>
    <div class="container">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h2 class="form-signin-heading">Windows Push Notification</h2>
            <input name="title" class="form-control" placeholder="Title" required="" autofocus="" type="text">
            <textarea class="form-control" name="message" placeholder="Message" required="" style="margin-top: 20px;"></textarea>
            <input name="promocao" class="form-control" placeholder="ID da Promoção" required="" style="margin-top: 20px;" type="text">
            <input name="uri" class="form-control" placeholder="Uri Windows Phone" required="" style="margin-top: 20px;" type="text">
            <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px;">Enviar</button>

            <textarea class="form-control" name="result" placeholder="Message" style="margin-top: 20px;">@ViewBag.Return</textarea>

        }
    </div>
</body>
</html>
